<?xml version="1.0"?>

<model>
  <name>Height MT background</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Mason EungChang</name>
    <email>mason@kaist.ac.kr</email>
  </author>

  <description>
    Height map mountain background
  </description>

</model>
